/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
@import url(fonts.css);

:root {
  /* colors */
  --background-color: white;
  --light-color: #f8f8f8;
  --dark-color: #505050;
  --text-color: #131313;
  --link-color: #3b63fb;
  --link-hover-color: #1d3ecf;
  --black: #000000;
  --white: #ffffff;

  /* fonts */
  --body-font-family: Roboto-Regular, sans-serif;
  --heading-font-family: roboto-condensed, roboto-condensed-fallback, sans-serif;
  --nav-font-family: GillSans-Light, sans-serif;
  --heading-font-family: GillSans-Bold, sans-serif;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 19px;
  --body-font-size-xs: 17px;
  --nav-font-size: 15px;

  /* heading sizes */
  --heading-font-size-xxl: 55px;
  --heading-font-size-xl: 44px;
  --heading-font-size-l: 34px;
  --heading-font-size-m: 27px;
  --heading-font-size-s: 24px;
  --heading-font-size-xs: 22px;

  /* nav height */
  --nav-height: 60px;
}

/* fallback fonts */
@font-face {
  font-family: roboto-condensed;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/roboto-condensed-bold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: roboto-bold;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/roboto-bold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
span.label {
  display: inline-block;
  background-color: green;
  color: var(--text-color-inverse);
  padding: 2px 8px;
  border-radius: 4px;
  font-size: var(--body-font-size-s);
  font-weight: bold;
  text-transform: uppercase;
}
@font-face {
  font-family: roboto-medium;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/roboto-medium.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/roboto-regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: roboto-condensed-fallback;
  size-adjust: 88.82%;
  src: local('Arial');
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 99.529%;
  src: local('Arial');
}

@font-face {
  font-family: GillSans-Bold;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Gill-Sans-Bold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: GillSans-SemiBold;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Gill-Sans-SemiBold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: GillSans-medium;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/GillSans-Medium.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: GillSans-regular;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/GillSans.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: roboto-medium;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/roboto-medium.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: GillSans-Light;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/GillSans-Light.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@media (width >=900px) {
  :root {
    /* body sizes */
    --body-font-size-m: 18px;
    --body-font-size-s: 16px;
    --body-font-size-xs: 14px;

    /* heading sizes */
    --heading-font-size-xxl: 45px;
    --heading-font-size-xl: 36px;
    --heading-font-size-l: 28px;
    --heading-font-size-m: 22px;
    --heading-font-size-s: 20px;
    --heading-font-size-xs: 18px;
  }
}

* {
  box-sizing: border-box;
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-s);
  line-height: 1.6;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  scroll-margin: 40px;
}

h1 {
  font-size: var(--heading-font-size-xxl);
}

h2 {
  font-size: var(--heading-font-size-xl);
}

h3 {
  font-size: var(--heading-font-size-l);
}

h4 {
  font-size: var(--heading-font-size-m);
}

h5 {
  font-size: var(--heading-font-size-s);
}

h6 {
  font-size: var(--heading-font-size-xs);
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
  font-family: roboto;
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main>div {
  margin: 40px 16px;
}

input,
textarea,
select,
button {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  word-break: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* buttons */
a.button:any-link,
button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border: 2px solid transparent;
  border-radius: 2.4em;
  padding: 0.5em 1.2em;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: var(--link-color);
  color: var(--background-color);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main>.section {
  margin: 40px 0;
}

main>.section>div {
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
}

main>.section:first-of-type {
  margin-top: 0;
}

/* @media (width >=900px) {
  main>.section>div {
    padding: 0 100px;
  }
} */

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}
@media (min-width: 1700px) {
  main>.section.faq-section,
  .section.emi-calculator.columns-container>div,
  .section.card-carousel-container>div,
  .mg-motors-spec-accordion.section,
  .mg-motors-spec-accordiontitle.section,
  .section.tab-section .default-content-wrapper,
  .section.main-image .columns-wrapper,
  main>.section>div {
    max-width: 1500px;
    margin: 0 auto;
  }
}
@media (width >=1900px) {

  main>.section.faq-section,
  .section.emi-calculator.columns-container>div,
  .section.card-carousel-container>div,
  .mg-motors-spec-accordion.section,
  .mg-motors-spec-accordiontitle.section,
  .section.tab-section .default-content-wrapper,
  .section.main-image .columns-wrapper,
  main>.section>div {
    max-width: 1700px;
    margin: 0 auto;
  }

  .tab-content .columns-wrapper {
    padding: 3.125vw 0;
  }

  main>.section.tab-section .default-content-wrapper {
    padding: 12px;
  }
  main>.section>div.card-carousel,      main>.section.emi-calculator>div{
    padding:0;
  }
}


@media (max-width: 991.98px) {
  main>.section.faq-section {
    margin-left: auto;
    margin-right: auto;
    max-width: 45pc;
  }
}

.section.comet-hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  padding: 2.08333vw 0;
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, .0509804);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, .0509804);
  min-height: calc(100vh - 60px);
  background-position-y: bottom;
  padding-top: 18vw;

  background-image: url('https://mgmotor.scene7.com/is/image/mgmotor/cm-bn-dsc-038?wid=1263&hei=585&fit=crop,0');
}

.hidden {
  display: none !important;
}


@media (max-width: 768px) {
  .section.comet-hero {
 
    background-image: url('https://mgmotor.scene7.com/is/image/mgmotor/cm-bn-dsc-038-portrait?$mg-rgb-tablet-image-responsive$');
    background-position-y: top;
    padding-top: 40vw;
  }


}

.tab-footer p {
  font-family: roboto-medium;
  text-align: right;
  font-size: 10.0px;
}

.tab-footer a.button:any-link {
  background-color: #cf2230;
  padding: .52083vw 1.5625vw;
  color: #fff;
  font-size: 1.04167vw;
  border-radius: 6px;
  font-weight: 500;
  font-family: roboto-medium;
  transition: all 1s linear;
}

.tab-footer p.button-container {
  text-align: center;
}

.tab-section h2 {
  font-size: 2.08333vw;
  color: #cf2230;
  font-family: 'GillSans-semibold';
  text-align: center;
  padding-bottom: 2.125vw;
  margin: 0;
}

main>.section.tab-section.accessories, main>.section.tab-section.has-it-all {
  padding: 3.125vw 0;
  margin: 0 auto;
  padding-bottom: 0;
 
}

.tab-section ul {
  display: flex;
}

.tab-section ul li {
  list-style: none;
}

.mg-motors-spec-accordiontitle h2 {
  color: #cf2230;
  text-align: center;
  padding-bottom: 48px;
  margin-bottom: 0;
  font-family: 'GillSans-semibold';
  font-size: clamp(1.563rem, 0.875vw + 1.289rem, 2rem);
  font-size: 2.08333vw;
  font-weight: 500;
}

.tab-content picture.active::before {
  content: "";
  top: 2px;
  position: absolute;
  bottom: 2px;
  left: 2px;
  right: 2px;
  border: 2px solid #fff;
  z-index: 5;
  border-radius: 6px;
  opacity: .7;
}

.tab-content picture.active::after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, .3);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width: 991.98px) {

  .tab-content picture.active::after {
    content: none;

  }
  .tab-content picture.active::before {
    content: none;

  }
  .tab-footer a.button:any-link{
            font-size: 3.02725vw;
  }
}
